# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [26]:
childrens = sorted(data['children'].unique())

rel_child_debt = pd.DataFrame({ 
    "has debt": [data.loc[(data['children'] == child_count) & (data['debt'] == 1), 'debt'].count() for child_count in childrens],
    "all payed": [data.loc[(data['children'] == child_count) & (data['debt'] == 0), 'debt'].count() for child_count in childrens],
}, index = childrens)
rel_child_debt.index.name = "children count"
rel_child_debt['relation'] = round(rel_child_debt['has debt'] / rel_child_debt['all payed'], 3)

display(rel_child_debt)

                has debt  all payed  relation
children count
0                   1063      13028     0.082
1                    444       4364     0.102
2                    194       1858     0.104
3                     27        303     0.089
4                      4         37     0.108
5                      0          9     0.000

**Вывод:** Можно проследить то, что влияние есть, но небольшое. В целом соотношение по количеству кредитов и задолженности примерно на одном уровне. Мы видим, что люди, у которых 5 детей, не допускают просрочку, но и в целом кредитов берут меньше, чем остальные. В то же время люди, у которых 4 детей по соотношению допускают просрочки больше всех. При этом люди, у которых детей нет, стабильнее выплачивают долг. Соответсвенно зависимость есть, однако незначительная. Но так же стоит отметить, что выборки с 3,4 и 5 детьми непрезентативны, слишком мало значений, в сумме менее 2%. Их не стоит учитывать при анализе, если этого не требует задача, как сейчас.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
married_debt = data.pivot_table(index = ['family_status'], values = 'debt', aggfunc={'count', 'sum'})
married_debt = married_debt.rename(columns={'count': 'total', 'sum': 'with debt'})
married_debt['relation'] = round(married_debt['with debt'] / married_debt['total'], 3)
print(married_debt)

                       total  with debt  relation
family_status
Не женат / не замужем   2796        273     0.098
в разводе               1189         84     0.071
вдовец / вдова           951         63     0.066
гражданский брак        4134        385     0.093
женат / замужем        12261        927     0.076

**Вывод:** Видно, что люди, которые не состояли в браке и люди в гражданском браке имеют задолженности чаще, чем остальные. Могу предположить, что это из-за того, что их уровень отвественности ниже, чем у остальных людей в списке. Так же можно заметить, что люди в браке чаще берут кредит. Скорее всего это связанно с потребностями семьи, вроде: покупка жилья, машины или подготовка к рождению ребенка. Но в сравнении, люди, которые были или находятся в браке, более платёжеспособны и стабильно выплачивают долг. Скорее всего, потому что они ответсвенны. Зависимость есть.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [24]:
inc_debt = data.pivot_table(index=['total_income_category'], values = 'debt', aggfunc={'count', 'sum'})
inc_debt = inc_debt.rename(columns={'count': 'total', 'sum': 'with debt'})
inc_debt['relation'] = round(inc_debt['with debt'] / inc_debt['total'], 3)
display(inc_debt)

                       total  with debt  relation
total_income_category
A                         25          2     0.080
B                       5014        354     0.071
C                      15921       1353     0.085
D                        349         21     0.060
E                         22          2     0.091

**Вывод:** Примечательно, что люди с самым низким доходом возвращают деньги лучше всего. Но при этом категория D возвращают хуже всех. У C и A классов задолженность почти одинаковая, но при этом С берут кредиты больше всех. Так же можно обратить внимание, что между ними B класс, где люди уже не так хорошо выплачивают долги. Мне кажется в данном случае зависимость минимальна

<div class="alert alert-info">

#### **Артём:** 💡 Дам тебе совет на будущее, как лучше проводить категоризацию количественных данных. **В этом проекте переделывать ничего не надо, так как заказчик уже предложил свои категории, его стоит проинформировать, что выборки крайне несбалансированны.** Если только как дополнительное исследование.
    
Сейчас самая маленькая категория в 728 раз меньше самой большой. Это может отразиться на результатах исследования. Когда мы делим на категории количественные данные, то лучше их делать примерно одинаковыми. Для этого можно воспользоваться методом `qcut()`. Пример:
    
```py
pd.qcut(df['total_income'], 4)
```
    
```
Name: total_income, Length: 21453, dtype: category
Categories (4, interval[float64]): [(20666.999, 107620.0]  (107620.0, 142594.0]  (142594.0, 195818.0]  (195818.0, 2265604.0]]
```
                                                                                                               
Что внутри: 
    
```py
pd.qcut(датафрейм['столбец'], количество_категорий)
``` 
    
Итого у нас 4 категории:
<ul>
  <li>меньше 107_620</li>
  <li>от 107_620 до 142_594</li>
  <li>от 142_594 до 195_818</li>
  <li>от 195_818</li>
</ul>

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [25]:
target = data.pivot_table(index = [ 'purpose_category'], values = 'debt', aggfunc = {'count','sum'})
target = target.rename(columns={'count':'total','sum':'target'})
target['share'] = round(target['target']/target['total'], 3)
target = target.sort_values(by='share', ascending=True)
display(target)

                          total  target  share
purpose_category
операции с недвижимостью  10751     780  0.073
проведение свадьбы         2313     183  0.079
операции с автомобилем     4279     400  0.093
получение образования      3988     369  0.093

**Вывод:** В этом случае просто отлично видно зависимость между целью кредита и возвратом. Особенно явная причина почему люди, которые берут кредит на учебу, плохо платят, ведь, вероятнее всего, кредит взял студент. А учиться и работать одновременно не каждый сможет, вот и появляются долги. Так же примечательно, что люди, которые берут кредит на автомобиль тоже плохо платят. И я могу отлично понять почему, ведь, скорее всего, эти люди не рассчитали, что саму машину тоже надо содержать и вечно оплачивать бензин и тех обслуживание. А вот у людей, которые взяли кредит на свадьбу или недвижимость с выплатами получше. Наверное потому что в целом до этих вещей доходят более отвественные и умственно зрелые люди

<div class="alert alert-success">

**Артём:** 👍 Правильно.

</div>

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Здесь были проблемы со столбцами days_employed и total_income.На счёт зарплаты, скорее всего, человеческий фактор, кто-то забыл записывать зп после окончательного оффера или же ставил пропуски когда зп сотрудника менялась со временем, чтобы когда-то записать новую. Но всё же, можно обратить внимание на то, что количество пропусков в обоих столбцах одинаковое, поэтому возможно пропуски в этих столбцах связанны.

<div class="alert alert-success">

**Артём:** 👍 Верно.

</div>

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Медианное значение лучше, потому что лучше отображает выборку в целом, когда мы работаем с пропущенными значениями количественных переменных. Среднее арифметическое не подойдёт так хорошо, потому что не учитывает разброс данных.

<div class="alert alert-success">

**Артём:** 👍 Молодец.

</div>

### Шаг 4: общий вывод.

 Люди берут кредиты, и в зависимости от определенных ситуаций, действительно можно выявить корелляцию платежеспособности человека, но она будет не точной, поскольку результаты очень разнятся. 
* Скорее всего человек, который будет плохо платить будет: иметь 4 ребенка, состоять в гражданском браке или быть не замужем, иметь доход категории Е и брать кредит с целью покупки автомобиля или получения образования (кошмарная ситуация в любом случае, не хотелось бы мне так жить).
* А вот человек, который наиболее вероятно будет платить кредит в срок: без детей, вдовец или в разводе, с доходом категории D и берёт кредит на недвижимость или свадьбу

## 🏁 Итоги ревью
<a id="results"></a>
[В начало](#start)
<div class="alert alert-success">

**Артём:** 👍 Елена, у тебя хорошая работа. Можно идти к заказчику.
</div>